@import "bootstrap/bootstrap.less";

// set font to monospace
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-monospace;
@headings-font-family:    @font-family-monospace;
@headings-font-weight:    700;

@background-background: #eeeeee;
@background-text-colour: #222222;

// mixins
.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
}

.three-column-flex {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;

  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;

  > section {
    height: 100%
  }

  .left, .right, .middle {

  }

  .middle {
    -webkit-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5;
  }

  .left, .right {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;

    min-width: 20%;
  }

  .left {
    background: linear-gradient(to right, @background-background 0%,@background-background 65%,white 100%);
  }

  .right {
    background: linear-gradient(to left, @background-background 0%,@background-background 65%,white 100%);
  }
}

// selectors

html {
  .full-screen();
}

body {
  text-transform: lowercase;

  .full-screen();
}

button, input, select {
  text-transform: lowercase;
}

.board-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  .full-screen();
  .page-root {
    .full-screen();

    display:         flex;
    flex-direction: column;

    nav {
      margin-bottom: 0px;
      border-radius: 0px;
      padding: 0rem 0rem;
      height: 50px;
      border: none;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .player-profile {
      flex-basis: 40%;

      display: flex;
      flex-direction: row;

      font-size: 1em;
      margin: 0.3em 0;

      .full-name {
        display: inline-block;
        margin: 0 0.5em;
        padding-top: 0.25em;

        > span {
          display: block;
        }
        .team-name {
          font-size: 1em;
        }
        .player-id {
          font-size: 0.75em;
        }
        .robot-name {
          font-size: 1.1em;
        }
      }
      .player-images {
        display: flex;
        flex-direction: row;
        span {
          .thumbnail();

          margin-bottom: 0px;
          img {
            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
          }
        }
      }
    }

    .game-viewer-root {
      .three-column-flex();

      .left, .right {
        color: @background-text-colour;

        .score-sheet {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          align-content: space-between;

          .player-score-sheet {
            width: 100%;
            max-height: 50%;
            min-height: 25%;
            flex-grow: 1;

            &.top-left, &.top-right {
              align-self: flex-start;
            }

            &.bottom-left, &.bottom-right {
              align-self: flex-end;
            }

            display: flex;
            align-items: stretch;
            flex-direction: column;

            .score-label {
              font-size: @font-size-small;
              display: block;
            }

            > div {
              flex-grow: 1;

              display: flex;
              flex-direction: column;

              h3.player-name {
                .player-profile();
              }
              .scores {
                flex-basis: 40%;

                display: flex;
                flex-direction: row;

                min-height: 4.9em;

                .damage, .lives, .flags-touched, .powered-down, .destroyed {
                  font-size: @font-size-h1;
                  text-align: center;
                  margin: 0 0.25em;

                  &:after, &:before {
                    .score-label();
                  }
                }

                .damage {
                  color: #AA3E38;
                }

                .lives {
                  color: #236167;
                }

                .destroyed {
                  background: url('../images/destroyed-icon.png') no-repeat center center;
                  &:before {
                    content: "destroyed!";
                  }
                }

                .damage:before {
                  content: "damage";
                }

                .lives:before {
                  content: "lives";
                }

                .flags-touched:before {
                  content: "flags";
                }

                .powered-down {
                  img {
                    width: 1em;
                    height: 1em;
                  }
                  &:before {
                    content: "";
                  }
                }
              }
              .registers-this-turn {
                flex-basis: 20%;

                .powered-down {
                  margin: 0 1.25em 10px 1.25em;
                  img {
                    width: 2em;
                    height: 2em;
                  }
                }

                ul {
                  list-style: none;
                  width: 100%;
                  padding-left: 0;

                  li {
                    display: inline-block;
                    margin: 0 0.25em;
                    padding: 0.25em 0;

                    &.register-card {
                      &.active {
                        border-bottom: 0.4em solid black;
                      }

                      img {
                        width: 1.75em;
                        height: 2.5em;
                      }
                    }

                    &.powered-down {
                      .powered-down();
                    }
                  }

                  ul.has-active {


                  }
                }

              }
            }

            &.bottom-left, &.bottom-right {
              > div {
                flex-direction: column-reverse;

                .scores {
                  .damage, .lives, .flags-touched, .powered-down, .destroyed {
                    &:before {
                      content: none;
                    }
                  }
                  .damage:after {
                    content: "damage";
                  }
                  .lives:after {
                    content: "lives";
                  }
                  .flags-touched:after {
                    content: "flags";
                  }
                  .destroyed {
                    padding-top: 1.43em;
                    &:after {
                      content: "destroyed!";
                    }
                  }
                }

                .registers-this-turn {
                  .register-card.active {
                    border-bottom: none;
                    border-top: 0.4em solid black;
                  }

                }
              }
            }

            &.top-right, &.bottom-right {
              text-align: right;

              h3.player-name {
                flex-direction: row-reverse;

                .player-images {
                  flex-direction: row-reverse;
                }
              }
              .scores {
                flex-direction: row-reverse;
              }
              .registers-this-turn {
                text-align: right;

              }
            }

            &.player-dead {
              color: lighten(@background-text-colour, 60%);

              img {
                opacity: 0.4;
              }
            }
          }
        }

      }

      .middle {
        .board-view-container();

        #game-board {
          .board-view-container();
          background: url('../images/compass.png') no-repeat bottom right;
          background-size: 5em 5em;
          padding: 10px;
        }

        .game-controller-panel {
          text-align: center;
          align-self: flex-start;
          margin-left: 2em;
          .well();

          .btn-group, .btn-group-vertical {
            margin: auto 5px;
            button {
              span {
                margin-right: 0.4em;
              }
            }
          }
        }

        .game-over {
          .avatars {
            margin: 2em 0;
            img {
              width: 6em;
              height: 6em;
              min-width: 6em;
              min-height: 6em;
            }
          }

          .results {
            tr.winner {
              font-weight: bold;
              td {
                padding-top: 1em;
                padding-bottom: 1em;
              }
            }
          }
        }

      }

      .new-game-root {

        form {
         display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;

          > div {
            margin: 0.5em;
          }

          .player-selection {
            width: 22%;

            .selected-registration-profile {
              .player-profile();
              h3 {
                font-size: 1em;
              }
              .full-name {
                margin: 0;
              }
              .player-images span img {
                width: 150px;
                height: 150px;
              }
            }
          }

          .board-selection {
            width: 100%;
          }
        }
      }
    }

    .board-browser-root {
      .three-column-flex();

      #board-section {
        .board-view-container();
      }

    }

    .registration-root {
      .three-column-flex();

      .registration-middle {
        .board-view-container();

        .player-name {
          .player-profile();

          padding-left: 1em;
          margin: 1.5em auto;
          border-left: 5px solid darken(@background-background, 50%);
        }

        ul.tests {
          li {
            list-style: none;

            .failure-result {
              margin-left: 1.5em;
              padding: 0 1em;
              background-color: tint(@state-danger-bg, 70%);
            }
          }
        }

        .logs {
          pre {
            max-width: 75em;
          }
        }

        .registration-buttons {
          margin-top: 1em;
          button {
            margin-right: 0.5em;
          }
          a {
            cursor: pointer;
          }
        }

      }
    }

    .all-registrations-root {
      margin-top: 1em;

      .all-registrations-middle {
        .board-view-container();

        .all-registrations-gallery {
          max-width: 65%;

          .panel-body {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            .registration {
              width: 20em;
              height: 30em;
              margin: 1em;

              font-size: 0.8em;

              small {
                display: block;
              }
              img {
                max-width: 11em;
              }

              background-repeat: no-repeat;
              background-position: bottom right;
              background-size: 10em;
              background-origin: padding-box;

              &.pending-registration {
                opacity: 0.5;
              }

              &.docker-registration {
                background-image: url('../images/docker.png');
              }

              &.lambda-registration {
                background-image: url('../images/aws-lambda.png');
              }
            }
          }

        }

      }

    }

  }
}

// animations
.pulse {
  animation: pulse 1s linear infinite;
}

@keyframes "pulse" {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

